.article {
  position: relative;
}

.article-title-container {
  background: $clr-white;
  padding: $pdg-big;
}

.article-content-container {
  border-top: 1px solid $clr-third-sep;
  padding: $pdg-big;
}

.article-title {
  font-size: $font-big;
  color: $clr-text-important;
}

.article-status {
  position: absolute;
  top: $pdg-big;
  right: $pdg-big;
  line-height: 28px;
  border: 2px solid $clr-button-border;
  border-radius: 50px;
  font-size: $font-small;
  padding-left: 2em;
  padding-right: $pdg-small;
  text-transform: uppercase;
  font-weight: bold;
  color: $clr-button-text;

  &:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  &.to-be-saved:before {
    background: $clr-unvalid-state;
  }

  &.saved:before {
    background: $clr-valid-state;
  }

  &.pending:before {
    background: $clr-button-border;
  }
}

.articles-content {
  max-width: $article-max-width;
  padding: $pdg-base;
  outline: 0;
  background: $clr-white;
  border: 1px solid $clr-third-sep;
  margin: 0 auto;
}

.article h2 {
  font-size: 2em;
}

.article pre {
  background: #2B2B2B;
  color: #A8B7C7;
  border-left: 4px solid #434E60;
  padding: 10px;
  font-family: Consolas, Lucida Console, monospace;
}
