.article {
  position: relative;
}

.article-title-container {
  background: $clr-white;
  padding: $pdg-big;
}

.article-title {
  font-size: $font-big;
  position: relative;
}

.article-content-container {
  border-top: 1px solid $clr-third-sep;
  padding: $pdg-big;
}

.articles-content {
  max-width: $article-max-width;
  padding: $pdg-base;
  outline: 0;
  background: $clr-white;
  border: 1px solid $clr-third-sep;
}

.article-status-light {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.saved {
    background: lightgreen;
  }

  &.pending {
    background: lightcoral;
  }
}

.article h2 {
  font-size: 2em;
}

.article pre {
  background: #2B2B2B;
  color: #A8B7C7;
  border-left: 4px solid #434E60;
  padding: 10px;
  font-family: Consolas, Lucida Console, monospace;
}
