// Variables
$pdg-sub-articles: .4rem;
$font-size-sub-articles: .8rem;

// Core
.article-menu-button {
  padding: $pdg-base-tb-small;
  background: none;
  color: rgba(255,255,255,.5);
  border: 0;
  font-size: $font-base;
  display: block;
  //text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #2A3443;
}

.articles-name {
  padding: $pdg-base-tb-small;
  cursor: pointer;
  font-weight: bold;
  border-left: $border-highlight solid transparent;
  color: rgba(255,255,255,.5);

  &.active {
    background: $bg-darker;
    border-color: $clr-main;
    color: $clr-white;
  }
}

.articles-sub-lvl-1 {
  padding-top: $pdg-sub-articles;
  padding-bottom: $pdg-sub-articles;
  padding-left: $font-base * 2.5;
  font-size: $font-size-sub-articles;
}

.articles-sub-lvl-2 {
  padding-top: $pdg-sub-articles;
  padding-bottom: $pdg-sub-articles;
  padding-left: $font-base * 4;
  font-size: $font-size-sub-articles;
}
