.article {
  position: relative;
}

.articles-content {
  outline: 0;
}

.article-status-light {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.saved {
    background: lightgreen;
  }

  &.pending {
    background: lightcoral;
  }
}

.article h2 {
  font-size: 2em;
}

.article pre {
  background: #2B2B2B;
  color: #A8B7C7;
  border-left: 4px solid #434E60;
  padding: 10px;
  font-family: Consolas, Lucida Console, monospace;
}
