// Variables
$sub-articles-pdg-base: .4rem;
$sub-articles-font-base: .8rem;

// Core
.article-menu-button-container {
  padding: $pdg-base-tb-small;
}

.article-menu-button {
  @extend .button;

  display: block;
  background: $blue-grey-600;
  color: white;
  border: 0;
  font-size: $font-base;
  border-radius: 3px;

  &:hover {
    background: $blue-grey-500;
  }

  &:active {
    background: $blue-grey-400;
  }
}

.article-menu-title {
  padding: $pdg-base-tb-small;
  border-left: $border-highlight solid transparent;
  color: $blue-grey-600;
  font-weight: bold;
  font-size: .9rem;
  line-height: 1rem;
}

.articles-name {
  position: relative;
  padding: $pdg-base-tb-small;
  cursor: pointer;
  border-left: $border-highlight solid transparent;
  color: rgba(255,255,255,.5);

  &.active {
    background: $blue-grey-900;
    border-color: $clr-main;
    color: $clr-white;
    font-weight: bold;
  }
}

.articles-sub-lvl-1 {
  padding-top: $sub-articles-pdg-base;
  padding-bottom: $sub-articles-pdg-base;
  padding-left: $font-base * 2.5;
  font-size: $sub-articles-font-base;
}

.articles-sub-lvl-2 {
  padding-top: $sub-articles-pdg-base;
  padding-bottom: $sub-articles-pdg-base;
  padding-left: $font-base * 4;
  font-size: $sub-articles-font-base;
}

// Drag styles
.grabme {
  position: absolute;
  top: 0;
  right: 0;
  font-size: .8rem;
  line-height: 1rem;
  padding: $pdg-base-tb-small;
  cursor: move;
  display: none;
}

.articles-name:hover .grabme {
  display: block;
}

.article-name-ghost {
  background: $blue-grey-900 !important;
  color: $blue-grey-900 !important;
  border: none !important;
  margin: 0 10px;
}