@import "colors";

// Font
$font-initial: 16px;
$font-base: 1rem;
$font-big: $font-base * 2;
$font-small: $font-base / 1.5;

// Line-height
$line-height-base: $font-base;
$line-height-text: $font-base * 1.4;

// Colors
$clr-main: $blue;
$clr-second: $blue-grey-800;
$clr-third: $blue-grey-50;
$clr-third-sep: $blue-grey-100;
$clr-white: white;
$clr-text: $grey-800;
$clr-text-important: black;
$clr-valid-state: $green-200;
$clr-unvalid-state: $red-200;
$clr-button-text: $grey-400;
$clr-button-border: $grey-300;

$bg-darker: rgba(0,0,0,.15);

// Padding
$pdg-base: $font-base * 2;

$pdg-small: $font-base * .7;
$pdg-big: $font-base * 2.5;

$pdg-base-tb-small: $pdg-small $font-base;

// Margin
$mrg-base: $font-base;

// Specific variables
$article-max-width: $font-base * 55;
$menu-width: $font-base * 18;
$border-highlight: 4px;